html,
body {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: lightblue;
}

button:hover {
    cursor: pointer;
}

p {
    font-size: 1.5rem;
}

#content {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
}

#page-header {
    background-color: white;
    box-shadow: 0px 2px 10px gray;
    display: grid;
    align-items: center;
    justify-content: center;
}

#page-header>.title {
    font-size: clamp(2rem, 10vw + 1rem, 4rem);
}

#cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    box-sizing: border-box;
    padding: 50px;
    gap: 50px;
}

#cards-container>.card {
    display: grid;
    grid-template-rows: 100px 200px 70px;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0px 5px 10px gray;
}

.card>.header {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.card>.main>div {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.card>.footer {
    display: grid;
    grid-auto-flow: column;
    align-items: end;
    justify-content: space-between;
}

.card>.footer>button {
    font-size: 1rem;
    font-weight: bold;
    border-radius: 20px;
    height: 40px;
    width: 100px;
}

.card>.footer>.read {
    transition: 0.5s;
    background-color: greenyellow;
}

.card>.footer>.read.not {
    transition: 0.5s;
    background-color: rgb(255, 80, 80);
}

.card>.footer>.remove:hover {
    background-color: rgb(255, 80, 80);
}

#page-footer {
    background: white;
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 10px;
    height: 40px;
    width: 100%;
    box-shadow: 0px -2px 10px gray;
    display: grid;
    align-items: center;
    justify-items: end;

}

#page-footer>.add-book {
    font-size: 1rem;
    font-weight: bold;
    border-radius: 20px;
    background-color: lightblue;
    height: 40px;
    width: 100px;
}